.container {
  position: relative;
  max-width: 90% !important;
  padding: 3rem;
  margin: auto;
  margin-top: 5rem;
  background-color: lightslategray;
  border-radius: 15px;
}
@media (max-width: 720px) {
  .container {
    padding: 3rem 2.5rem;
  }
}
@media (min-width: 721px) and (max-width: 767px) {
  .container {
    max-width: 90% !important;
    margin: auto;
    margin-top: 5rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    position: relative;
    max-width: 90% !important;
    padding: 2rem 1rem;
    margin-top: 5rem;
    border-radius: 15px;
  }
}
