.form-group {
  width: 95%;
  margin: auto;
  label {
    color: #8fe8f9f0 !important;
    font-weight: bold !important;
  }
  input {
    margin: 12px 0 !important;
  }
}
.form-control {
  width: 400px;
}
@media (max-width: 599px) {
  .form-group input {
    width: 100%;
  }
}
