/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  font-family: "Arial", sans-serif;
  letter-spacing: 0.1em;
  margin: 0;
  white-space: pre-line;
}

mat-spinner {
  margin: auto;
}
:root {
  --h1-size: 2.8rem;
  --scale: 1;
}
h1 {
  font-size: var(--h1-size) !important;
  font-weight: bold;
}
h2 {
  font-size: calc(var(--h1-size) / var(--scale));
}
h3 {
  font-size: calc(var(--h1-size) / (var(--scale) * 2));
}
h4 {
  font-size: calc(var(--h1-size) / (var(--scale) * 2.65));
  font-weight: bold;
}
h5 {
  font-size: calc(var(--h1-size) / (var(--scale) * 2.725));
}
p,
a {
  font-size: calc(var(--h1-size) / (var(--scale) * 2.8));
}
@media (max-width: 767px) {
  :root {
    --h1-size: 2.7rem;
    --scale: 1;
  }
  h1 {
    font-size: calc(var(--h1-size) / (var(--scale) * 2)) !important;
    font-weight: bold;
  }
  h2 {
    font-size: calc(var(--h1-size) / var(--scale));
  }
  h3 {
    font-size: calc(var(--h1-size) / (var(--scale) * 2));
  }
  h4 {
    font-size: calc(var(--h1-size) / (var(--scale) * 2.65));
    font-weight: bold;
  }
  h5 {
    font-size: calc(var(--h1-size) / (var(--scale) * 2.725));
  }
  p,
  a {
    font-size: calc(var(--h1-size) / (var(--scale) * 2.9));
  }
}

@media (min-width: 768px) and (max-width: 1050px) {
  :root {
    --h1-size: 3rem;
    --scale: 1;
  }
  h1 {
    font-size: calc(var(--h1-size) / (var(--scale) * 1.7)) !important;
    font-weight: bold;
  }
  h2 {
    font-size: calc(var(--h1-size) / var(--scale));
  }
  h3 {
    font-size: calc(var(--h1-size) / (var(--scale) * 2));
  }
  h4 {
    font-size: calc(var(--h1-size) / (var(--scale) * 2.65));
    font-weight: bold;
  }
  h5 {
    font-size: calc(var(--h1-size) / (var(--scale) * 2.725));
  }
  p,
  a {
    font-size: calc(var(--h1-size) / (var(--scale) * 3));
  }
}
@media (min-width: 1051px) and (max-width: 1288px) {
  :root {
    --h1-size: 3rem;
    --scale: 2;
  }
  h1 {
    font-size: calc(var(--h1-size) / (var(--scale) * 0.7)) !important;
    font-weight: bold;
  }
  h2 {
    font-size: calc(var(--h1-size) / var(--scale));
  }
  h3 {
    font-size: calc(var(--h1-size) / (var(--scale) * 0.9));
  }
  h4 {
    font-size: calc(var(--h1-size) / (var(--scale) * 1.2));
    font-weight: bold;
  }
  h5 {
    font-size: calc(var(--h1-size) / (var(--scale) * 1.25));
  }
  p,
  a {
    font-size: calc(var(--h1-size) / (var(--scale) * 1.5));
  }
}
@media (min-width: 1289px) {
  :root {
    --h1-size: 3rem;
    --scale: 1;
  }
  h1 {
    font-size: calc(var(--h1-size)) !important;
    font-weight: bold;
  }
  h2 {
    font-size: calc(var(--h1-size) / var(--scale));
  }
  h3 {
    font-size: calc(var(--h1-size) / (var(--scale) * 1.6));
  }
  h4 {
    font-size: calc(var(--h1-size) / (var(--scale) * 2.7));
    font-weight: bold;
  }
  h5 {
    font-size: calc(var(--h1-size) / (var(--scale) * 2.8));
  }
  p,
  a {
    font-size: calc(var(--h1-size) / (var(--scale) * 2.9));
  }
}
