.sauce-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; // pour éviter que ça déborde
  gap: 20px; // espace entre img et texte
  object-position: center center;

  img {
    align-self: flex-start;
    max-width: 45%;
    max-height: 70vh;
    border-radius: 15px;
    flex-shrink: 0; // flex-grow flex-shrink flex-basis
  }

  p {
    overflow-wrap: break-word; // coupe les mots trop longs
    word-break: break-word; // compatible avec certains navigateurs
    margin: 15px 0;
  }
}
.sauce-info {
  flex: 1 1 0; // prend tout l'espace restant
  color: #8fe8f9f0;
  text-align: left;
}
h1 {
  text-align: center;
}
h3 {
  font-weight: bold;
}
.manufacturer {
  margin: 0;
}

.sauce-name {
  margin: 0;
}

.like-buttons {
  display: flex;
  i {
    margin-right: 0.5em;
    cursor: pointer;
  }
}

.likes,
.dislikes {
  margin: 0 0.4em;
}

.liked {
  color: rgba(51, 219, 0, 1);
}

.disliked {
  color: rgba(219, 51, 0, 1);
}

.like {
  &:hover {
    color: rgba(51, 219, 0, 1);
  }
}

.dislike {
  transform: scaleX(-1) translateY(5px);
  &:hover {
    color: rgba(219, 51, 0, 1);
  }
}

.disabled {
  cursor: none;
  &:hover {
    color: rgba(190, 190, 190, 1);
  }
  color: rgba(190, 190, 190, 1);
}

.control-buttons {
  // flex-wrap: nowrap;  display: flex;
  flex-wrap: 0 0 100%;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center; /* ou center */
  gap: 1rem;
}
.control-buttons button {
  flex: 0 0 auto;
  white-space: nowrap;
  // width: 100%;
  margin: 1em 1em 0 0;
}
/* ============================= */
/* 📱 Mobile ≤ 720px */
/* ============================= */
@media (max-width: 599px) {
  .sauce-container {
    margin: auto;
    flex-direction: column;
    align-items: center;
  }
  img {
    align-self: center !important;
    max-width: 100%;
    max-height: 40vh;
  }
  .sauce-info {
    max-width: 100%;
  }

  .like-buttons {
    margin-bottom: 20px;
    justify-content: center;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  // :root {
  //   --h1-size: 3rem;
  //   --scale: 1;
  // }
  // h1 {
  //   font-size: calc(var(--h1-size) / (var(--scale) * 1.7)) !important;
  //   font-weight: bold;
  // }
  .sauce-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 60vh; /* OBLIGATOIRE pour le centrage vertical */
  }

  .sauce-container img {
    width: auto;
    height: 100%;
    max-height: 60vh;
    object-fit: contain;
  }

  .sauce-info {
    width: 100%;
  }
}
/* ============================= */
/* 📱 Tablette 768px → 1024px */
/* ============================= */
@media (min-width: 900px) and (max-width: 1199px) {
  // :root {
  //   --h1-size: 3rem;
  //   --scale: 1;
  // }
  // h1 {
  //   font-size: calc(var(--h1-size) / (var(--scale) * 1.7)) !important;
  //   font-weight: bold;
  // }
  .sauce-container {
    flex-direction: row;
  }
}

/* ============================= */
/* 🖥 Desktop > 1200px */
/* ============================= */
@media (min-width: 1200px) {
  .sauce-container {
    margin: auto;
  }
  img {
    max-width: 45%;
    max-height: 70vh;
  }

  .sauce-info {
    width: 100%;
  }
  .control-buttons {
    flex-wrap: 0 0 100%;
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
