.form-group {
  width: 95%;
  margin: auto;
  label {
    color: #b5e6a2 !important;
    font-weight: bold !important;
  }
  input {
    margin: 12px 0 !important;
  }
}

#description {
  margin: 12px 0;
}
form {
  button {
    margin: 25px 0;
  }
}
.heat-range {
  width: 60%;
  display: block;
}

.heat-container {
  display: flex;
}

.heat-reading {
  width: 5em;
  margin-left: 1.5em;
  //background-color: #b5e6a2;
}

input[type="file"] {
  display: none;
}
